@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: 'Bm';
    src: url('./assets/fonts/Bm/ttf/BMHANNAPro.ttf');
}

.hello {
    color: red;
    font-family: 'Bm';
}